include reccmp/bin/cvdump.exe
include reccmp/bin/LICENSE
include reccmp/assets/cmake/reccmp.cmake
include reccmp/assets/reccmp.js
include reccmp/assets/template.html
include reccmp/assets/template.svg
