name: Format

on: [push, pull_request]

jobs:
  python-format:
    name: 'Python Format'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install python libraries
      shell: bash
      run: |
        pip install -r requirements.txt -r requirements-tests.txt

    - name: Run black
      shell: bash
      run: black --check .

    - name: Run pylint
      shell: bash
      run: pylint reccmp tests

    - name: Run mypy
      shell: bash
      run: mypy ./reccmp ./tests

  js-format:
    name: 'Javascript Format'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        npm ci

    - name: Biome Format
      run: |
        npx @biomejs/biome ci ./tests/js/
