name: Test

on: [push, pull_request]

jobs:
  fetch-deps:
    name: Prepare sample binary files
    uses: ./.github/workflows/legobin.yml

  test:
    name: '${{ matrix.platform.name }} ${{ matrix.python-version }}'
    runs-on: ${{ matrix.platform.os }}
    needs: fetch-deps

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        platform:
          - { name: 'Windows', os: 'windows-latest' }
          - { name: 'Linux',   os: 'ubuntu-latest' }

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Restore lego files
      id: cache-lego
      uses: actions/cache/restore@v3
      with:
        enableCrossOsArchive: true
        path: legobin
        key: legobin

    - name: Restore skifree files
      id: cache-skifree
      uses: actions/cache/restore@v3
      with:
        enableCrossOsArchive: true
        path: skifree
        key: skifree

    - name: Install python libraries
      shell: bash
      run: |
        pip install -r requirements.txt -r requirements-tests.txt

    - name: Run unit tests
      shell: bash
      run: |
        pytest . --lego1=legobin/LEGO1.DLL --ski=skifree/SKI.EXE